<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:beans="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
						http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/context
                        http://www.springframework.org/schema/context/spring-context.xsd						
						">

	<context:component-scan base-package="fr.iocean.dta" />
	
	<!-- repository -->
	<bean id="employeeRepository"
		class="fr.iocean.dta.employee.repository.EmployeeMockRepository"
		init-method="init">
	</bean>
	
	<!-- For constructor injection-->
	<bean id="employeeService" class="fr.iocean.dta.employee.service.EmployeeMockService">
        <constructor-arg>
            <ref bean="employeeRepository" />
        </constructor-arg>
    </bean>
	
	<!-- For setter injection 
	<bean id="employeeService" class="fr.iocean.dta.employee.service.EmployeeMockService">
		<property name="employeeRepository" ref="employeeRepository" />
	</bean>
	-->
	

	
</beans>